<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reviews</title>
    <link rel="stylesheet" href="/styles/reviews.css" />
  </head>
  <body>
    <div class="review-list">
      <% reviews.forEach(review => { %>
      <div class="review-item">
        <%= review.title %> <%= review.isbn %> <%= review.date %> <%=
        review.rating %> <%= review.description %>
      </div>
      <% }) %>
    </div>
  </body>
</html>
